@tailwind base;
  @tailwind components;
  @tailwind utilities;

  @layer base {

    :root {
      --background: 199, 24%, 93%;
      --foreground: 0, 0%, 9%;

      --card: var(--background);
      --card-foreground: 210 40% 98%;

      --popover: var(--background);
      --popover-foreground: 210 40% 98%;

      --primary: 210 40% 98%;
      --primary-foreground: 222.2 47.4% 11.2%;

      --secondary: 213, 94%, 68%;
      --secondary-foreground: 210 40% 98%;

      --muted: 217.2 32.6% 17.5%;
      --muted-foreground: 215 20.2% 65.1%;

      --accent: 217.2 32.6% 17.5%;
      --accent-foreground: 210 40% 98%;

      --destructive: 0 62.8% 30.6%;
      --destructive-foreground: 210 40% 98%;

      --border: 217.2 32.6% 17.5%;
      --input: 217.2 32.6% 17.5%;
      --ring: 212.7 26.8% 83.9%;
    }
  }

  @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground flex flex-col;
      min-height: 100vh;
    }
  }

a {
  @apply text-secondary;
}

h1 {
  @apply text-xl font-bold;
}

.receipt-bg {
  background-image: url('/images/wrinkled-paper-texture.jpg');
  background-position: center;
}
